html {
    scroll-behavior: smooth;
}

body{
    background-color:cadetblue;
}

#navbar{
    background: linear-gradient(90deg, #0b0b0b, #1b1c1d 25%, #232526);
}

#navbar img{
    width: 60px;
}

#navbar .navbar-brand span{
    /* border: 2px solid #E29D16; */
    color: #fff;
}

#navbar a{
    color:blanchedalmond;
}

#navbar a:hover{
    color:cornsilk;
}

#floating-cart-btn .btn-container a{
    position: fixed; bottom: 10px; right: 10px;
    padding: 8px;
    padding-right: 40px;
    background-color: #000;
    color:darkgreen;
    width: 40px;
    height: 40px;
    border-radius: 15px;
}

#floating-cart-btn .btn-container a:hover{
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

#products .menu-title{
    color: blanchedalmond;
}

#products hr{
    color: blue;
}

#products .card{
    background-color:darksalmon;
}

#products .card:hover{
    box-shadow: 0 0 20px darksalmon;
}

#products .card span{
    border: none;
}

#products .card img:hover{
    border: 4px solid #000;
    cursor: pointer;
}

#products .card-body{
    display: flex;
    justify-content: space-between;
}

#products .card-body p{
    text-align: justify;
}

.text-highlighted{
    color: #97c93e !important
}

#main .carousel-inner{
    max-height: 85vh;
    object-fit: cover;
    
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 1;
}

#carousel .overlay a{
    color: #fff;
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

#carousel .overlay .col{
    margin: auto;
}

#modals{
    border: none;
}



#modals .modal-content{
    border: none;
}

#modals .modal-body{
    background-color: darksalmon;
    border: none;
}

#modals .modal-body p{
    text-align: justify;
}

#modals .modal-header button{
    color: #1697e2;
}

#modals .modal-header .modal-title{
    color: #fff;
}

#modals .modal-body p{
    font-weight: bold;
}

#modals .modal-body img{
    border-radius: 10px;
}

#modals .modal-header, .modal-footer{
    background-color: #191919;
    color: #fff;
    border: none;
}

#modals .modal-footer button{
    margin: auto;
    background-image: url("../images/buy-btn.png");
    background-color: transparent;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #fff;
    transition: 0.5s all ease;
}




#modals .modal-footer .back{
    margin: auto;
    background-image: url("../images/back-btn.png");
    background-color: transparent;
    border: 0;
    padding: 14px 80px 14px 80px;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #000;
    transition: 0.5s all ease;
}

#modals .modal-footer .back:hover{
    background-image: url("../images/buy-btn-hover.png");
    color: #000;
}

#modals .modal-body input{
    border: none;
}

#modals .modal-body span{
    border: none;
}

#modals .card{
    background-color: #191919;
    margin: auto;
    font-size: 20px;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
}

#modals .card:hover{
    border: 2px solid #fff;
    box-shadow: 0 0 20px #fff;
}

#modals .card img{
    border-radius: 10px;
}


#carrito .modal-body h4{
    font-weight: bold;
}

#carrito tbody img{
    width: 40px;
    height: 40px;
}

#carrito tbody img:hover{
    border: 2px solid darksalmon;
}

#carrito tbody td{
    padding: 10px;
}



#pago .modal-body h4{
    font-weight: bold;
}

#pago tbody img{
    width: 40px;
    height: 40px;
}

#pago tbody img:hover{
    border: 2px solid darksalmon;
}

#pago tbody td{
    padding: 10px;
}

#pago .form-check{
    font-size: 24px;
  }

#footer {
    background: linear-gradient(90deg, #0b0b0b, #1b1c1d 25%, #232526);
}

#footer a, h6 {
    text-decoration: none;
    color: darksalmon;
}

#footer h6 i{
    font-size: 20px;
}

#footer a{
    color: darkblue;
}

#footer a:hover{
    color: #e1cc09;
}





